
<ion-content>

    <div class="div_main">
      <br>
      <h1 class="h1">Miyagi Do</h1>
      
      <div class="div_img"> 

        <div class="div_login">

          <p class="p">Email</p>
          <ion-input type="email" placeholder="email" name="input_loginemail" id="input_loginemail" class="input_loginemail" [(ngModel)]="userLogin.email"></ion-input>

          <p class="p">Senha</p>
          <ion-input type="password" placeholder="senha" name="input_loginpassword" id="input_loginpassword" class="input_loginpassword" [(ngModel)]="userLogin.password"></ion-input><br><br>

          <ion-button color="light" shape="round" fill="outline" size="large" expand="block" (click)="login()">Entrar</ion-button>

          <p class="p2">Não possui login? <br><a class="link_cadastro" href="/register">Cadastre-se</a></p>

        </div>

      
        
      </div>

      <ion-footer class="footer_loginpage">Copyright: Eduardo de Jesus. Todos os direitos reservados</ion-footer>

    </div>

    


</ion-content>
