
<ion-header>

  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>

</ion-header>

<ion-content>

    <div class="div_main">

    <br>
    <h1 class="h1">Miyagi Do</h1>

    <div class="div_img">

      <div class="div_register">



        <p class="p">Nome</p>
        <ion-input type="text" placeholder="nome" name="input_registername" id="input_registername" class="input_registername"
          [(ngModel)]="userRegister.name"></ion-input>

        <p class="p">Email</p>
        <ion-input type="email" placeholder="email" name="input_registeremail" id="input_registeremail" class="input_registeremail"
          [(ngModel)]="userRegister.email"></ion-input>

        <p class="p">Senha</p>
        <ion-input type="password" placeholder="senha" name="input_registerpassword" id="input_registerpassword"
          class="input_registerpassword" [(ngModel)]="userRegister.password"></ion-input><br><br>

        <ion-button color="light" shape="round" fill="outline" size="large" expand="block"  (click)="register()">
          Confirmar</ion-button>


      </div>



    </div>

      <ion-footer class="footer_registerpage">Copyright: Eduardo de Jesus. Todos os direitos reservados</ion-footer>

  </div>

</ion-content>